:root{
    --primary: #24484F;
    --secondary: #10CAB7;
    --third: #f3f3f3;
    --forth: rgb(206, 206, 206);
    /* background-color: var(--primary); */
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.special-heading{
    color: var(--forth);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: var(--primary);
    letter-spacing: -1px;
}
@media (min-width: 767px){
    .special-heading{
        font-size: 50px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/*Media Query*/
/* Small Screens*/
@media (min-wdith:768px){
    .container{
        width: 750px;
    }
}
/*Medium Screens*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/*Large Screen*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*Header Styling*/
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
    cursor: pointer;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: var(--primary);
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 70%;
    transition: .3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--third);
    position: absolute;
    right: 0;
    min-width: 180px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--third) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a{
    display: block;
    text-decoration: none;
    color: var(--primary);
    padding: 15px;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--secondary);
}
.landing{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--secondary);
    font-size: 50px;
    font-weight: 800;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.features{
    padding-top: 60px;
    background-color: var(--third);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--secondary);
}
.features .feat h3{
    color: var(--primary);
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    color: var(--primary);
    line-height: 1.8;
    font-size: 17px;
}
/*Services Section Styling*/
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services-content .srv i{
    color: var(--secondary);
    flex-basis: 60px;
}
.services-content .srv .text{
    color: var(--primary);
    flex: 1;
}
.services-content .srv .text h3{
    color: var(--primary);
    margin: 0 0 20px;
}
.services-content .srv .text p{
    color: var(--primary);
    font-weight: 300;
    line-height: 1.6;
}
.services-content img{
    width: 260px;
    text-align: center;
    position: relative;
}
/* .services .services-content img:before{
    content: '';
    background-color: var(--primary);
    width: 100px;
    height: calc(100%+100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
} */
@media (max-width: 1199px){
    .image-column{
        display: none;
    }
}
/*Porfolio Styling*/
.protfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--third);
}
.protfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.protfolio .portfolio-content .card{
    background-color: white
 }
.protfolio .portfolio-content .card img{
    max-width: 100%;
}
.protfolio .portfolio-content .card .info{
    padding: 20px;
    color: var(--primary);
}
.protfolio .portfolio-content .card .info h3{
    margin: 0;
}
.protfolio .portfolio-content .card .info p{
    line-height: 1.6;
}
/*About Styling*/
.protfolio{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-content{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about-content .about-image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){
    .about-content .about-image{
        margin: 0 auto 60px;
    }
}
.about-content .about-image::before{
    content: '';
    position: absolute;
    background-color: var(--third);
    width: 100px;
    height:calc(100% + 80px);
    top: -40px;
    left:-20px;
    z-index: -1;
}
.about-content .about-image::after{
    top: -40px;
    content: '';
    position: absolute;
    width: 120px;
    height:300px;
    border-left: 80px solid var(--secondary);
    border-bottom: 80px solid var(--secondary);
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px){
    .about-content .about-image::before,
    .about-content .about-image::after{
        display: none;
    }
}
.about-content .about-image img{
    max-width: 100%;
}
.about-content .about-text{
    flex-basis: calc(100% - 500px);
}
.about-content .about-text p:first-of-type{
    color: var(--primary);
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .about-text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--secondary);
}
.about-content .about-text p:last-of-type{
    font-weight: 1;
    color: var(--forth);
}
/* Contact Section Styling */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--third);
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--primary);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--primary);
}
@media (max-width = 767px) {
    .contact .info .label
    .contact .info .link{
        font-size: 25px;
    }
}
/* Footer Section Styling */
.footer{
    background-color: var(--primary);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span a{
    text-decoration: none;
    color: var(--secondary);
}